
RewriteEngine on
RewriteCond %{HTTP_HOST} ^squadplay\.ml$ [OR]
RewriteCond %{HTTP_HOST} ^www\.squadplay\.ml$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/api\.squadplay\.ml\/" [R=301,L]

